{{#paper-button}}Sign up with Facebook{{/paper-button}}

{{#link-to 'user.create'}}
	{{#paper-button}}Sign up with email{{/paper-button}}
{{/link-to}}

{{#link-to 'sessions.create'}}
	<p>Alerady have an account? CLick Here!</p>
{{/link-to}}

{{outlet}}
